<?xml version='1.0' encoding='utf-8'?>
<robot name="mushroom">
  <link name="mushroom_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="mushroom_visual.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="mushroom_visual.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>